.subtitulo{
    color: #590202;
    font-family:'Bodoni Mt', Arial, 'Arial Rounded MT';
    font-size: 35px;
    font-weight:550;
    font-style: normal ;
    font-
}
.lista{
    color: #466912;
    font-family:'Bell MT';
    font-size: 25px;
    font-weight: 500;
    font-style:italic;
}
